@font-face {
  font-family: Myfont2;
  src: url(1.ttf);
  font-family: Myfont3;
  src: url(Calibri.ttf);
  font-family: Myfont4;
  src: url(Calibri.ttf);
  font-family: Myfont6;
  src: url(CalibriLight.ttf);
}
body {
  margin: 0px;
}
.header {
  background-color: #3796c9;
  height: 59px;
  font-family: sans-serif;
  text-align: left;
  font-size: 32px;
  padding-top: 30px;
  padding-left: 22px;
  color: rgb(233, 236, 238);
}
.topnav {
  height: 30px;
  padding-right: 0px;
  background-color: #333;
  font-weight: bolder;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 15px;
  overflow: hidden;
}
.heading {
  margin-left: 50px;
}
li {
  display: inline-block;
  padding: 7px;
}
.nav {
  margin-left: 5px;
  padding: 0px;
  color: white;
  font-size: 12px;
  display: inline-flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav a {
  padding: 8px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.nav li:first-child:hover {
  background-color: #ff9d2f;
}

.nav li:not(:first-child):hover {
  background-color: #ff9d2f;
  border-left: 2px solid white;
}

.nav .active {
  background-color: #ff9d2f;
  border-left: 2px solid white;
}
.image {
  float: right;
  justify-content: end;
  margin-right: 20px;
  margin-top: 4px;
}
.name {
  background-color: lightblue;

  width: 100%;

  font-size: 45px;

  color: white;
}

.box1 {
  line-height: 30px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-weight: 400;

  font-size: 14px;
}

.introduction {
  background-color: white;

  width: 40%;

  border: 1px solid lightgray;

  margin: 20px 41px;
}

.content {
  margin-top: 28px;

  margin-left: 35px;

  font-family: Myfont5;
}

.news {
  margin-top: 8px;

  padding-left: 13px;

  height: 2px;

  margin-bottom: 15px;

  display: block;

  font-size: 15px;

  font-weight: 700;

  font-family: sans-serif;
}

.Wel {
  font-weight: 700;

  font-size: 18px;

  line-height: 17px;

  font-family: Myfont6;

  margin-left: 5px;
}

.maincontent {
  text-transform: capitalize;

  margin-top: 20px;

  margin-left: 42px;

  width: 918px;

  font-size: 13px;

  font-weight: 700;

  font-family: Myfont6;
}
.form {
  margin-left: 50px;
  margin-top: 30px;
  line-height: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#name {
  margin-left: 78px;
}
#email {
  margin-left: 82px;
}
#role {
  margin-left: 30px;
}
#resume {
  margin-left: 8px;
}

.box1 li::before {
  content: "-";
  margin-right: 6px;
}

input[type="file"] {
  display: none;
}
#file {
  font-weight: bold;
  margin-left: 5px;
}
#submit {
  font-weight: bold;
}
.nav li {
  display: inline;
}
.nav a {
  text-decoration: none;
  color: white;
}
.content p {
  margin-bottom: 20px;
  display: block;
  margin-left: 15px;
}
form p {
  font-weight: 500;
}
